DOCKERHUB_USERNAME=anuppra
DOCKER_IMAGE_TAG=latest
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_DATABASE=expense_tracker
MYSQL_USER=expense_user
MYSQL_PASSWORD=expense123
DB_PORT_EXTERNAL=3307
VITE_API_URL=/api
